:root {
    --verde-claro: #7EBEA4;
    --lilás: #8C7EBF;
    --verde: #194234;
    --roxo: #251942;
}

@media screen and (min-width: 768px) and (max-width: 991px) { /* tablet */
    body {
        background-image: linear-gradient(to top, var(--roxo), var(--verde));
    }

    #login {
        display: flex;
        width: 90vw;
        height: 300px;
    }

    #img {
        width: 30%;
        height: 100%;
    }

    #form {
      width: 70%;  
    }

}

@media screen and (min-width: 992px) { /* desktop */
    body {
        background-image: linear-gradient(to top, var(--roxo), var(--verde));
    }
    
    #login {
        display: flex;
        flex-direction: row-reverse;
        width: 890px;
        height: 320px;
    }

    #img {
        width: 45%;
        height: 100%;
    }

    #form {
        width: 55%;
    }

    #form h1 {
        font-size: 2em;
    }

    #form p {
        font-size: 1.3em;
    }

}