* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --verde-claro: #7EBEA4;
    --lilás: #8C7EBF;
    --verde: #194234;
    --roxo: #251942;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--verde);
}

#login {
    background-color: white;
    width: 300px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.542);
}

#img {
    background: var(--lilás) url(../imagens/pexels-aditya-aiyar-615049-1407305.jpg);
    background-size: cover;
    height: 200px;
}

#form {
    padding: 10px 15px 15px;
}

#form h1 {
    text-align: center;
    margin-bottom: 10px;
}

.campo {
    display: flex;
    margin: 8px 0;
    background-color: rgba(128, 128, 128, 0.208);
    padding: 10px 5px;
    border-radius: 8px; /* 5 */
    align-items: center;
}

.campo label {
    display: none;
}

.campo input, span{
    margin: 0 5px;
}

.campo input {
    padding: 5px;
    border-radius: 4px; /* 8 */
    border: none;
    outline: 1px solid rgb(31, 31, 31);
    width: 100%;
}

.campo input:focus {
    outline: 2px solid var(--lilás);
}

button {
    padding: 8px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: var(--verde-claro);
}

.submit {
    background-color: var(--roxo);
    color: white;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
}

.submit:hover{
    background-color: #8C7EBF;
    transition-duration: 0.2s;
}

.op-new {
    font-size: 15px;
    margin: 0 0 0 5px;
}

button[type=button] {
    display: flex;
    margin: auto;
}

button[type=button]:hover {
    background-color: var(--verde);
    transition-duration: 0.3s;
}
